[core]
  editor = nvim
  pager = diff-so-fancy | less --tabs=4 -RFX
  excludesfile = ~/.gitignore.global

[include]
  path = ~/.gitconfig.local

[interactive]
  diffFilter = diff-so-fancy --patch

[alias]
  go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"

[format]
  pretty = format:%C(yellow)%h %Cblue%>(12)%ad %Cgreen%<(7)%aN%Cred%d %Creset%s

[color]
  ui = always
  branch = always
  diff = always
  interactive = always
  status = always
  grep = always
  pager = true
  decorate = always
  showbranch = always

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
