#!/usr/bin/env bash

# Common
alias c="clear"
alias chx="chmod +x"
alias f="fuck"
alias hg="history|grep"

# Replacements
alias cat="bat"
alias find="fd"
alias mkdir="mkdir -p"
alias ping='ping -c 4'
alias top='gotop'
alias vim="nvim"

# Git
alias g="git"
alias ga="git add ."
alias gb="git branch"
alias gbd="git branch -d"
alias gc="git commit -m"
alias gca="git commit --amend --reuse-message HEAD"
alias gcfd="git clean -fd"
alias gd="git diff"
alias gds="git diff --staged"
alias gf="git fetch --all"
alias gg="git go"
alias gl="git log --relative-date --graph --abbrev-commit -10"
alias gp="git push"
alias gpf="git push -f"
alias gpl="git pull"
alias gpr="git pull -r"
alias gr="git rebase -i"
alias gra="git rebase --abort"
alias grc="git rebase --continue"
alias grh="git reset --hard"
alias grs="git reset --soft"
alias grs1="git reset --soft HEAD~1"
alias gs="git status"

# Docker
alias dops="docker ps -a"
alias dols="docker image ls"
