#!/usr/bin/env bash

alias ..='cd ..'
alias ...='cd ../..'
alias c='clear'
alias cat='bat'
alias grep='rg'
alias ls='eza -lh'
alias la='eza -lah'
alias l='ls'
alias s='sudo'
alias sz='source ~/.zshrc'
alias top='htop'
alias ytdl='yt-dlp'
alias vim='nvim'
alias w='which'
alias z='cd'

# git
alias gca='git commit --amend --reuse-message HEAD'
alias gg='gitgo'
alias gpf='git push --force-with-lease'
alias gplf='git pull -X theirs'
alias gq='gitquick'
alias grh='git reset --hard'
alias grh1='git reset --hard HEAD~1'
alias grs1='git reset --soft HEAD~1'
