#!/usr/bin/env bash

# Common
alias c="clear"
alias cx="chmod +x"
alias hg="history|grep"

# Replacements
alias cat="bat"
alias mkdir="mkdir -pv"
alias ping='ping -c 4'
alias vim="nvim"

# Network/ip
alias ip="ipconfig getifaddr en0"

# Docker
alias dops="docker ps -a"
alias dols="docker image ls"
