function cdf() {
  if [[ $OSTYPE != 'darwin'* ]]; then
    echo "Error: cannot run macOS command"
    return 1
  fi

  cd "$(osascript -e 'tell app "Finder" to POSIX path of (insertion location as alias)')" || return
}

function clone() {
  git clone "$1" && cd "$(basename "$1" .git)" || return
}

function mkcd() {
  mkdir -p "$1" && cd "$1"
}
