#!/usr/bin/env bash

# short for `cdfinder`
# change working directory to the top-most Finder window location
function cdf() {
  if [[ $OSTYPE != 'darwin'* ]]; then
    echo "Error: cannot run macOS command"
    exit 1
  fi

  cd "$(osascript -e 'tell app "Finder" to POSIX path of (insertion location as alias)')" || exit
}

# remove current directory
function rmcd() {
  local curr_dir
  curr_dir="$(pwd)"
  cd .. && rm -rf "$curr_dir"
}

# clone a git repo and cd into it
function clone() {
  git clone "$1" && cd "$(basename "$1" .git)" || exit
}

# man with colors
function man() {
  LESS_TERMCAP_md=$'\e[01;34m' \
  LESS_TERMCAP_me=$'\e[0m' \
  LESS_TERMCAP_se=$'\e[0m' \
  LESS_TERMCAP_so=$'\e[01;44;33m' \
  LESS_TERMCAP_ue=$'\e[0m' \
  LESS_TERMCAP_us=$'\e[01;32m' \
  command man "$@"
}
