#!/usr/bin/env bash

# Create a new directory and enter it
function mkcd() {
  mkdir -p "$@" && cd "$_";
}

# Remove current directory
function rmcd() {
  local currdir
  currdir="$(pwd)";
  cd .. && rm -rf "$currdir";
}

# Change working directory to the top-most Finder window location
# short for `cdfinder`
function cdf() {
  cd "$(osascript -e 'tell app "Finder" to POSIX path of (insertion location as alias)')";
}

# cd into directory then list all files
function cdl() {
  cd "$1" && ls -lFAh --color;
}

# `o` with no arguments opens the current directory, otherwise opens the given
# location
function o() {
  if [[ $# -eq 0 ]]; then
    open .;
  else
    open "$@";
  fi;
}

# Generate password, optionally specifying the length
function genpass() {
  local length
  length="${1:-20}";
  openssl rand -base64 "$length";
}

# Generate uuid in lowercase
function uuid() {
  uuidgen | tr "[:upper:]" "[:lower:]"
}

# create .tar.gz
function targz() {
  tar -zcvf "$1".tar.gz "$1"; rm -r "$1";
}

# extra .tar.gz
function untargz() {
  tar -zxvf "$1"; rm -r "$1";
}

# Clone git repo and cd into it
function clone() {
  git clone "$1" && cd "$(basename "$1" .git)";
}

# Show weather
function now() {
  curl https://wttr.in/\?0;
}

# Clean uninstall a brew package
function unbrew() {
  if brew uninstall "$1"; then
    brew autoremove
    brew cleanup
  fi
}
